.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 3rem;
 
  background-color: #f4f4f4;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 33%;
  height: 70vh;
  transition: all 0.5s ease;
  overflow: hidden;
  filter: brightness(0.7);
  cursor: pointer;
 
}

.imageWrapper img {
  object-fit: cover;
}
.img1{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.img2{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.imageWrapper.active {
  width: 50%;

}

.imageWrapper:not(.active) {
  width: 25%;
}
.textOverlay{
  position: absolute;
  color: white;
  padding: 0.5rem;
}